<script type="text/javascript">      
$(document).ready(function(){
    // var update_SS001S_id = 0;
    /*点击表头的checkbox，进行全选/全不选操作*/
    $("#SS001S_table_list").on('click','thead :checkbox',function(){
        var checkAll = $(this).is(":checked");
        $('#SS001S_table_list tbody :checkbox').closest('tr')[checkAll?'addClass':'removeClass']('click').end().prop('checked',checkAll);
    });

    $('#SS001S_table_list').on('click','tbody :checkbox',function(e){
            $(this).closest('tr')[$(this).is(':checked')?'addClass':'removeClass']('click');
    });

    $('#SS001S_table_list').on('click','.pager a',function(){
        $.get($(this).attr('href')+'&'+new Date(),function(data){
            $('#SS001S_table_list').html(data);
        });
        return false;
    });

    $('#SS001S_btnAdd').on('click',function(){
        $('#dialog_SS001S_insert').dialog({
            modal: true,
              buttons: {
                "新增": function() {
                    $('#dialog_SS001S_insert_form').valid();
                    // alert('菜单代码：'+ $('#add_SS001S_code').val());
                },
                "取消": function() {
                  $( this ).dialog( "close" );
                }
              }
        });
        return false;
    });
    $('#dialog_SS001S_insert_form').validate({errorElement:'span'});
 });

function SS001S_modify(obj){
        $('#update_SS001S_code').val(obj.Code);
        $('#update_SS001S_parent').val(obj.Parent);
        $('#update_SS001S_name').val(obj.Name);
        $('#update_SS001S_grade').val(obj.Grade);
        $('#update_SS001S_action').val(obj.Action);
        $('#update_SS001S_sort').val(obj.Sort);
        var update_SS001S_id = obj.Id;
        $('#dialog_SS001S_update').dialog({
            modal: true,
              buttons: {
                "修改": function() {
                  alert('修改的Id:'+update_SS001S_id+'菜单代码：'+$('#update_SS001S_code').val());
                },
                "取消": function() {
                  $( this ).dialog( "close" );
                }
              }
        });
        return false;
    }
</script>
<div class="position">所在位置：系统管理 &gt; 基础信息 &gt; 地区管理</div>
<div class="search_form">
    <form id="SS001S_search" action="" method="">
        <div class="search_condition">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                </colgroup>
                <tr>
                    <th>菜单代码：</th>
                    <td>
                        <input type="text" id="MENU_NO" class="input_text" />
                    </td>
                    <th>父编号：</th>
                    <td>
                        <input type="text" id="PER_MENU_CD" class="input_text" />
                    </td>
                    <th>菜单名：</th>
                    <td>
                        <input type="text" id="MENU_NM" class="input_text" />
                    </td>
                    <th>级别：</th>
                    <td>
                        <select id="MENU_LVL">
                            <option>全部</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>菜单行为：</th>
                    <td colspan="3">
                        <input type="text" id="ACTIONS" class="input_text" />
                    </td>
                    <td colspan="4"></td>
                </tr>
            </table>
        </div>
        <div class="search_buttons">
            <input type="submit" id="SS001S_btnSearch" value="查询" class="input_button" />
            <input type="reset" id="SS001S_btnReset" value="重置" class="input_button reset" />
        </div>
    </form>
</div>
<div class="button_toolbar">
    <input type="button" id="SS001S_btnAdd"  value="新增" class="input_button" />
    <input type="button" id="SS001S_btnDelete" value="删除" class="input_button"/>
</div>
<div class="table_list" id='SS001S_table_list'>
    <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
        <col width="6%" />
        <col width="6%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="36%" />
        <col width="6%" />
        <col width="6%" />
    </colgroup>
    <thead>
        <tr>
            <th>序号</th>
            <th>
                <input type="checkbox" class="input_checkbox" />
            </th>
            <th>菜单代码</th>
            <th>父编号</th>
            <th>菜单名</th>
            <th>级别</th>
            <th>菜单行为</th>
            <th>排序</th>
            <th class="end">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                <input type="checkbox" class="input_checkbox" />
            </td>
            <td>SS001S</td>
            <td>0</td>
            <td>基础信息</td>
            <td>1</td>
            <td>BasicInfo</td>
            <td>1</td>
            <td class="end">
                <a title="修改" class="icon_button" onclick="return SS001S_modify({Id:1,Code:'SS001S',Parent:0,Name:'基础信息',Grade:1,Action:'BasicInfo',Sort:1});">
                    <img src="images/icon_edit.png" />
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <input type="checkbox" class="input_checkbox" />
            </td>
            <td>SS002S</td>
            <td>0</td>
            <td>办公管理</td>
            <td>2</td>
            <td>OfficeManagement</td>
            <td>2</td>
            <td class="end">
                <a title="修改" class="icon_button" onclick="return SS001S_modify({Id:2,Code:'SS002S',Parent:0,Name:'办公管理',Grade:2,Action:'OfficeManagement',Sort:2});">
                    <img src="images/icon_edit.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="pager">
    <a href="javascript:void(0);" class="icon_button" title="首页">
        <img src="images/icon_first.png" alt="" />
    </a>
    <a href="javascript:void(0);" class="icon_button" title="上一页">
        <img src="images/icon_prev.png" alt="" />
    </a>
    <input type="text" class="input_text" value="1" />
    <span class="text">/&nbsp;18页</span>
    <a href="Views/Mock/Paging.html?page=2" class="icon_button" title="下一页">
        <img src="images/icon_next.png" alt="" />
    </a>
    <a href="javascript:void(0);" class="icon_button" title="尾页">
        <img src="images/icon_end.png" alt="" />
    </a>
    <span class="total">
        共 <strong>120</strong>条记录
    </span>
</div>
</div>

<div id="dialog_SS001S_insert" class="invisible-container" title="菜单增加">
<form id="dialog_SS001S_insert_form">
<table class='pop_container'>
    <colgroup>
        <col width="30%" />
        <col width="70%" />
    </colgroup>
    <tr>
        <td><strong>*</strong>菜单代码</td>
        <td>
            <input type="text" name="add_SS001S_code" required id="add_SS001S_code" type="text"/>
        </td>
    </tr>
    <tr>
        <td><strong>*</strong>父编号</td>
        <td>
            <input type="text" name="add_SS001S_parent" id="add_SS001S_parent" required  type="text"/>
        </td>
    </tr>
    <tr>
        <td><strong>*</strong>菜单名</td>
        <td><input type="text" name="add_SS001S_name" id="add_SS001S_name" required  type="text"/>
        </td>
    </tr>
    <tr>
        <td>级别</td>
        <td>
            <select id="add_SS001S_grade" name='add_SS001S_grade' required >
                            <option value="">全部</option>
                        </select>
        </td>
    </tr>
    <tr>
        <td><strong>*</strong>菜单行为</td>
        <td>
            <input type="text" name="add_SS001S_action" required  id="add_SS001S_action" type="text"/>
        </td>
    </tr>
    <tr>
        <td><strong>*</strong>排序</td>
        <td>
            <input type="text" name="add_SS001S_sort" required  id="add_SS001S_sort" type="text"/>
        </td>
    </tr>
</table>
</form>
</div>

<div id="dialog_SS001S_update"  class='invisible-container'  title="菜单修改">

<table class='pop_container'>
    <tr>
        <td>菜单代码</td>
        <td>
            <input type="text" name="" id="update_SS001S_code" type="text"/>
        </td>
    </tr>
    <tr>
        <td>父编号</td>
        <td>
            <input type="text" name="" id="update_SS001S_parent" type="text"/>
        </td>
    </tr>
    <tr>
        <td>菜单名</td>
        <td><input type="text" name="" id="update_SS001S_name" type="text"/>
        </td>
    </tr>
    <tr>
        <td>级别</td>
        <td>
            <select id="update_SS001S_grade">
                            <option>全部</option>
                        </select>
        </td>
    </tr>
    <tr>
        <td>菜单行为</td>
        <td>
            <input type="text" name="" id="update_SS001S_action" type="text"/>
        </td>
    </tr>
    <tr>
        <td>排序</td>
        <td>
            <input type="text" name="" id="update_SS001S_sort" type="text"/>
        </td>
    </tr>
</table>
<input type="hidden" id="update_SS001S_id" />
</div>