<script type="text/javascript">      
$(document).ready(function(){
    $(".table_list table tbody tr").click(function(e){
        if($(e.target).is("input[type=checkbox]")){
            $(this).toggleClass("click");
            e.stopPropagation();
        }else{
            $(this).toggleClass("click");
            var $checkbox = $(this).find("input[type=checkbox]");
            reverse_check($checkbox);
        }
    });
    /*点击表头的checkbox，进行全选/全不选操作*/
    $(".table_list table thead tr input[type=checkbox]").click(function(){
        if($(this).prop("checked") == true){
            $(".table_list table tbody tr input[type=checkbox]").prop('checked',true);
            $(".table_list table tbody tr").addClass("click");
        }else{
            $(".table_list table tbody tr input[type=checkbox]").prop('checked',false);
            $(".table_list table tbody tr").removeClass("click");
        }
    });

    $('#btnAdd').on('click',function(){
        $('#dialog-jan0201-insert').dialog({
            modal: true,
              buttons: {
                "新增": function() {
                  $( this ).dialog( "close" );
                },
                "取消": function() {
                  $( this ).dialog( "close" );
                }
              }
        });
        return false;
    });

    $('.end a').on('click',function(){
        $('#dialog-jan0201-update').dialog({
            modal: true,
              buttons: {
                "新增": function() {
                  $( this ).dialog( "close" );
                },
                "取消": function() {
                  $( this ).dialog( "close" );
                }
              }
        });
        return false;
    });
});
function reverse_check(checkbox){
    if(checkbox.prop("checked") == true)
        checkbox.prop('checked',false);
    else 
        checkbox.prop('checked',true);
}
</script>
<body>
<div class="position">所在位置：系统管理 &gt; 基础信息 &gt; 地区管理</div>
<div class="search_form">
    <form id="SS001S_search" action="" method="">
        <div class="search_condition">
            <em class='width24'><span>菜单代码：</span><input type="text" id="MENU_NO" class="input_text" /></em>
            <em class='width24'><span>父编号：</span><input type="text" id="PER_MENU_CD" class="input_text" /></em>
            <em class='width24'><span>菜单名：</span><input type="text" id="MENU_NM" class="input_text" /></em>
            <em class='width24'><span>级别：</span><select id="MENU_LVL">
                            <option>全部</option>
                        </select></em>
            <em class='width24'><span>菜单行为：</span><input type="text" id="ACTIONS" class="input_text" /></em>
            <!-- <table cellpadding="0" cellspacing="0" border="0">
                <colgroup>
                <col width="10%" />
                <col width="15%" />
                <col width="10%" />
                <col width="15%" />
                <col width="10%" />
                <col width="15%" />
                <col width="10%" />
                <col width="15%" />
            </colgroup>
            <tr>
                <th>菜单代码：</th>
                <td>
                    <input type="text" id="MENU_NO" class="input_text" />
                </td>
                <th>父编号：</th>
                <td>
                    <input type="text" id="PER_MENU_CD" class="input_text" />
                </td>
                <th>菜单名：</th>
                <td>
                    <input type="text" id="MENU_NM" class="input_text" />
                </td>
                <th>级别：</th>
                <td>
                    <select id="MENU_LVL">
                        <option>全部</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>菜单行为：</th>
                <td>
                    <input type="text" id="ACTIONS" class="input_text" />
                </td>
                <td colspan="6">&nbsp;</td>
            </tr>
        </table> -->
    </div>
    <div class="search_buttons">
        <input type="submit" id="BUTTON_SUBMIT" value="查询" class="input_button" />
        <input type="reset" id="BUTTON_RESET" value="重置" class="input_button reset" />
    </div>
</form>
</div>
<div class="button_toolbar">
<input type="button" id="btnAdd"  value="新增" class="input_button" />
<input type="button" id="BUTTON_DEL" value="删除" class="input_button" onclick="parent.showPopup();" />
</div>
<div class="table_list">
<table cellpadding="0" cellspacing="0" border="0">
    <colgroup>
    <col width="6%" />
    <col width="6%" />
    <col width="10%" />
    <col width="10%" />
    <col width="10%" />
    <col width="10%" />
    <col width="36%" />
    <col width="6%" />
    <col width="6%" />
</colgroup>
<thead>
    <tr>
        <th>序号</th>
        <th>
            <input type="checkbox" class="input_checkbox" />
        </th>
        <th>菜单代码</th>
        <th>父编号</th>
        <th>菜单名</th>
        <th>级别</th>
        <th>菜单行为</th>
        <th>排序</th>
        <th class="end">操作</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>7</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>8</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>9</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>10</td>
        <td>
            <input type="checkbox" class="input_checkbox" />
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="end">
            <a href="SS001S-edit.html" title="修改" class="icon_button">
                <img src="images/icon_edit.png" />
            </a>
        </td>
    </tr>
</tbody>
</table>
<div class="pager">
<a href="javascript:void(0);" class="icon_button" title="首页">
    <img src="images/icon_first.png" alt="" />
</a>
<a href="javascript:void(0);" class="icon_button" title="上一页">
    <img src="images/icon_prev.png" alt="" />
</a>
<input type="text" class="input_text" value="1" />
<span class="text">/&nbsp;18页</span>
<a href="javascript:void(0);" class="icon_button" title="下一页">
    <img src="images/icon_next.png" alt="" />
</a>
<a href="javascript:void(0);" class="icon_button" title="尾页">
    <img src="images/icon_end.png" alt="" />
</a>
<span class="total">
    共 <strong>120</strong>
    条记录
</span>
</div>
</div>

<div id="dialog-jan0201-insert" style='display:none' title="公司增加">

<table>
<tr>
    <td>公司编号</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpId" type="text"/>
    </td>
</tr>
<tr>
    <td>公司名称</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpNm" type="text"/>
    </td>
</tr>
<tr>
    <td>所在区域</td>
    <td>
        <select name="" id="add_jan0201_lst_areaId">
            <option value=""
    >全部</option>
            <option value="DL">大连</option>
            <option value="TJ">天津</option>
            <option value="YT">烟台</option>
            <option value="CD">成都</option>
            <option value="WH">武汉</option>
            <option value="CQ">重庆</option>
            <option value="BJ">北京</option>
            <option value="SY">沈阳</option>
            <option value="QD">青岛</option>
            <option value="SH">上海</option>
            <option value="SY">三亚</option>

        </select>

    </td>
</tr>
<tr>
    <td>公司电话</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpPhone" type="text"/>
    </td>
</tr>
<tr>
    <td>收入标志</td>
    <td>
        <select id="add_jan0201_lsyCmpIncomeFlg" theme="simple">
            <option selected="selected" value="">请选择</option>
            <option value="0">有</option>
            <option value="1">无</option>
        </select>
    </td>
</tr>
<tr>
    <td>排序</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpSort" type="text"/>
    </td>
</tr>
<tr>
    <td>公司简介</td>
    <td>
        <textarea name="" cols="" rows="" id="add_jan0201_cmpSummary" type="text"></textarea>
    </td>
</tr>
<tr>
    <td>备注</td>
    <td>
        <textarea name="" cols="" rows="" id="add_jan0201_remark" type="text"></textarea>
    </td>
</tr>
</table>
</div>

<div id="dialog-jan0201-update"  style='display:none'  title="公司修改">

<table>
<tr>
    <td>公司编号</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpId" type="text" value="C00001"/>
    </td>
</tr>
<tr>
    <td>公司名称</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpNm" type="text" value="圣亚海洋世界"/>
    </td>
</tr>
<tr>
    <td>所在区域</td>
    <td>
        <select name="" id="add_jan0201_lst_areaId">
            <option value=""
    >全部</option>
            <option value="DL" selected>大连</option>
            <option value="TJ">天津</option>
            <option value="YT">烟台</option>
            <option value="CD">成都</option>
            <option value="WH">武汉</option>
            <option value="CQ">重庆</option>
            <option value="BJ">北京</option>
            <option value="SY">沈阳</option>
            <option value="QD">青岛</option>
            <option value="SH">上海</option>
            <option value="SY">三亚</option>

        </select>

    </td>
</tr>
<tr>
    <td>公司电话</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpPhone" type="text" value="11111111111"/>
    </td>
</tr>
<tr>
    <td>收入标志</td>
    <td>
        <select id="add_jan0201_lsyCmpIncomeFlg" theme="simple">
            <option value="">请选择</option>
            <option value="0" selected="selected" >有</option>
            <option value="1">无</option>
        </select>
    </td>
</tr>
<tr>
    <td>排序</td>
    <td>
        <input type="text" name="" id="add_jan0201_cmpSort" type="text"/>
    </td>
</tr>
<tr>
    <td>公司简介</td>
    <td>
        <textarea name="" cols="" rows="" id="add_jan0201_cmpSummary" type="text"></textarea>
    </td>
</tr>
<tr>
    <td>备注</td>
    <td>
        <textarea name="" cols="" rows="" id="add_jan0201_remark" type="text"></textarea>
    </td>
</tr>
</table>
</div>
</body>