<li>
    <h2 class="menu_level2">基础信息</h2>
    <div class="menu_level3">
        <a href="SS001S.html" reference='1' target="content">地区管理</a>
        <a href="BC001S.html" reference='2' target="content">公司信息</a>
        <a href="a.html" reference='3' target="content">部门信息</a>
        <a href="#" target="content">职位信息</a>
        <a href="#" target="content">人员信息</a>
        <a href="#" target="content">部门信息查询</a>
        <a href="#" target="content">产品分类查询</a>
        <a href="#" target="content">资产分类查询</a>
        <a href="#" target="content">门票分类查询</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">客商管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">客商分类</a>
        <a href="#" target="content">客商信息</a>
        <a href="#" target="content">会员信息</a>
        <a href="#" target="content">客商申请</a>
        <a href="#" target="content">会员调研</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">机台管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">闸机</a>
        <a href="#" target="content">票务</a>
        <a href="#" target="content">商品</a>
        <a href="#" target="content">餐饮</a>
        <a href="#" target="content">二维码设备</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">库位管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">库位分类</a>
        <a href="#" target="content">库位信息</a>
        <a href="#" target="content">门店管理</a>
        <a href="#" target="content">库位设置</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">产品信息</h2>
    <div class="menu_level3">
        <a href="#" target="content">门票分类</a>
        <a href="#" target="content">产品分类信息</a>
        <a href="#" target="content">产品信息</a>
        <a href="#" target="content">新品申请单</a>
        <a href="#" target="content">产品变价单</a>
        <a href="#" target="content">资产分类</a>
    </div>
</li>