<li>
    <h2 class="menu_level2">销售结算</h2>
    <div class="menu_level3">
        <a href="#" target="content">备用金存取</a>
        <a href="#" target="content">日结款</a>
        <a href="#" target="content">日结算</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">资产</h2>
    <div class="menu_level3">
        <a href="#" target="content">非流动资产数据统计</a>
        <a href="#" target="content">历年政府性补贴收入、税收优惠统计表</a>
        <a href="#" target="content">项目公司税收统计</a>
        <a href="#" target="content">生物资产统计表</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">成本</h2>
    <div class="menu_level3">
        <a href="#" target="content">动物保险</a>
        <a href="#" target="content">付动物款</a>
        <a href="#" target="content">利息测算</a>
        <a href="#" target="content">资金日报表</a>
        <a href="#" target="content">月度经营报表</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">预算</h2>
    <div class="menu_level3">
        <a href="#" target="content">票务收入计划</a>
        <a href="#" target="content">商品收入计划</a>
        <a href="#" target="content">餐饮收入计划</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">收入计划</h2>
    <div class="menu_level3">
        <a href="#" target="content">协议</a>
        <a href="#" target="content">合同管理</a>
        <a href="#" target="content">合同变更</a>
    </div>
</li>

