<li>
    <h2 class="menu_level2">销售结算</h2>
    <div class="menu_level3">
        <a href="#" target="content">票种分类</a>
        <a href="#" target="content">票种信息</a>
        <a href="#" target="content">销售管理</a>
        <a href="#" target="content">二维码状态查询</a>
        <a href="#" target="content">流水号查询</a>
        <a href="#" target="content">免费入园</a>
        <a href="#" target="content">订单查看</a>
        <a href="#" target="content">订单查看</a>
        <a href="#" target="content">在线销售</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">商品管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">商品分类</a>
        <a href="#" target="content">商品信息</a>
        <a href="#" target="content">销售配比</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">餐饮管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">餐饮分类</a>
        <a href="#" target="content">餐饮信息</a>
        <a href="#" target="content">二次加工</a>
        <a href="#" target="content">套餐管理</a>
    </div>
</li>

<li>
    <h2 class="menu_level2">销售管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">门票销售</a>
        <a href="#" target="content">销售调整</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">动物管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">动物管理</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">其他(运营)</h2>
    <div class="menu_level3">
        <a href="#" target="content">运营问卷A</a>
        <a href="#" target="content">运营问卷B</a>
        <a href="#" target="content">运营问卷C</a>
        <a href="#" target="content">运营问卷D</a>
        <a href="#" target="content">运营问卷E</a>
        <a href="#" target="content">运营问卷F</a>
        <a href="#" target="content">运营问卷G</a>
        <a href="#" target="content">运营问卷H</a>
    </div>
</li>