<li>
    <h2 class="menu_level2">接口管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">支付接口</a>
        <a href="#" target="content">短信接口</a>
        <a href="#" target="content">票务系统接口</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">年度考核</h2>
    <div class="menu_level3">
        <a href="#" target="content">中层互评BZ</a>
        <a href="#" target="content">员工对中层评价BZ</a>
        <a href="#" target="content">员工互评BZ</a>
        <a href="#" target="content">项目公司对中层BZ</a>
        <a href="#" target="content">项目对中层-配置</a>
        <a href="#" target="content">中层对中层互评-配置</a>
        <a href="#" target="content">员工对中层互评-配置</a>
        <a href="#" target="content">员工互评-配置</a>
        <a href="#" target="content">项目对集团中层-建议</a>
        <a href="#" target="content">集团员工能力(查询）</a>
        <a href="#" target="content">下属对中层能力(查询）</a>
        <a href="#" target="content">中层对中层能力(查询）</a>
        <a href="#" target="content">项目公司对中层(查询）</a>
    </div>
</li>