<li>
    <h2 class="menu_level2">采购管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">申购</a>
        <a href="#" target="content">订购</a>
        <a href="#" target="content">采购结算</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">库存管理</h2>
    <div class="menu_level3">
        <a href="#" target="content">入库</a>
        <a href="#" target="content">移库</a>
        <a href="#" target="content">退货</a>
        <a href="#" target="content">盘点</a>
        <a href="#" target="content">成本结转</a>
    </div>
</li>
<li>
    <h2 class="menu_level2">库存操作</h2>
    <div class="menu_level3">
        <a href="#" target="content">领用</a>
        <a href="#" target="content">返还</a>
        <a href="#" target="content">报损</a>
    </div>
</li>