<li>
    <h2 class="menu_level2">综合查询</h2>
    <div class="menu_level3">
        <a href="#" target="content">收入周报查询</a>
        <a href="#" target="content">日结算查询</a>
        <a href="#" target="content">收入查询</a>
        <a href="#" target="content">收入查询</a>
        <a href="#" target="content">库存查询</a>
        <a href="#" target="content">收入查询</a>
        <a href="#" target="content">综合收入查询</a>
        <a href="#" target="content">收入查询</a>
        <a href="#" target="content">旅行社查询</a>
    </div>
</li>
